<ul class="breadcrumb b-c-container">
  <p-breadcrumb class="bread-crumb-container" [model]="crumbs" ></p-breadcrumb>
  <button class="btn btn-primary pull-right bread-crumb-button" (click)="showAddSubCancerType()">Add {{cancerTree.getNextItemName()}}</button>
</ul>

<div class="pad20"></div>
<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <div class="pull-left">
              <h4 *ngIf="cancerTree.getCurrentLevel() !== 'CANCERYPE'">Sub Cancers</h4>
              <h4 *ngIf="cancerTree.getCurrentLevel() === 'CANCERYPE'">Cancers</h4>
            </div>
            <div class="pull-right">
              <button class="btn btn-primary m-10" (click)="showAddRegimen()">Add Regimen
            </button>
              <button class="btn btn-primary m-10" (click)="showAddCancerType()">Add {{cancerTree.getCurrentLevel()}}</button>
            </div>
          </div>
          <div class="card-block">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Cancer Type</th>
                  <th *ngIf="cancerTree?.getCurrentLevel() !== 'CANCER1TYPE'">Regimen Types</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let cancerType of CancerTypes">
                  <td >                         <a  href="javascript:void(0)" (click)="getUrlFix(cancerType.id)">{{cancerType.title}}</a></td>
                  <td *ngIf="cancerTree?.getCurrentLevel() === 'SUBCANCER1TYPE'">
                    <span class="badge badge-primary regimen-type-badge"
                          *ngFor="let type of generateTreeNodesForRegimens(cancerType?.regimenDetails)"
                          [routerLink]="'/regimenDetails/' + cancerType?.id +'/'+ type">
                      {{type}}
                    </span>
                  </td>
                  <td>
                    <i class="fa fa-pencil" data-toggle="tooltip" placement="top" tooltip="Edit CancerType"
                       (click)="edit(cancerType)"></i>
                  </td>
                  <td>
                    <i class="fa fa-trash" data-toggle="tooltip" placement="top" tooltip="Delete CancerType"
                       (click)="delete(cancerType)"></i>
                  </td>
                </tr>
                <tr *ngIf="CancerTypes.length === 0">
                  <span style="text-align: center"> No CancerTypes Found </span>
                </tr>

                </tbody>
              </table>

            </div>
          </div>
        </div>
        <div class="card" *ngIf="regimenDetails?.length > 0">
          <div class="card-header">

            <div class="pull-left">
              <h4>Regimen for Cancer</h4>
            </div>
          </div>
          <div class="card-block">
            <app-regimendetails
              #regimenDetailComponent
              (regimenActionCompleted) = "refreshData()"
              (actionOnRegimen)="actionOnRegimen($event)"
              [RegimenDetails]="regimenDetails"></app-regimendetails>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-addsubcancertypes *ngIf="isAddSubCancerTypeModal" (onHide)="onHide('add')"
                       [addingNextLevel]="addingNextLevel"
                       [currentLevelCancers]="CancerTypes"
                       [config]="{ show: true }" bsModal
                       #addModal="bs-modal" (yes)="addCancerTypes($event)" (cancel)="onClose('add')" class="modal fade"
                       [Error]="addCancerTypeError">
</app-addsubcancertypes>


<app-editcancertypes *ngIf="isEditModal" (onHide)="onHide('edit')" [config]="{ show: true }" bsModal
                 #editModal="bs-modal" (yes)="editCancerTypes($event)" (cancel)="onClose('edit')" class="modal fade" [CancerType]="CancerType"></app-editcancertypes>

<app-deletecancertypes *ngIf="isDeleteModal" (onHide)="onHide('delete')" [config]="{ show: true }" bsModal
                   #deleteModal="bs-modal" (yes)="deleteCancerTypes($event)" (cancel)="onClose('delete')" class="modal fade" [CancerType]="CancerType"></app-deletecancertypes>

<app-addregimen *ngIf="displayAddRegimen" (onHide)="onHide('add')" [config]="{ show: true }" bsModal
                [cancers]="CancerTypes"
                [preSelectedCancer]="currentCancerId"
                #addModal="bs-modal" (yes)="addRegimenDetail($event)" (cancel)="onClose('regimen')" class="modal fade"
></app-addregimen>

<app-editregimen *ngIf="isEditRegimenModal" (onHide)="onHide('editRegimen')" [config]="{ show: true }" bsModal
                 #editRegimenModal="bs-modal" (yes)="regimenDetailComponent.editRegimenDetail($event)" (cancel)="onClose('editRegimen')"
                 class="modal fade" [RegimenDetail]="RegimenDetail"></app-editregimen>

<app-deleteregimen *ngIf="isDeleteRegimenModal" (onHide)="onHide('deleteRegimen')" [config]="{ show: true }" bsModal
                   #deleteRegimenModal="bs-modal" (yes)="regimenDetailComponent.deleteRegimenDetail($event)" (cancel)="onClose('deleteRegimen')"
                   class="modal fade" [RegimenDetail]="RegimenDetail"></app-deleteregimen>

