<ul class="breadcrumb b-c-container">
<!--  @TODO need to put bread crumbs here-->
<!--  <p-breadcrumb class="bread-crumb-container" [model]="crumbs" ></p-breadcrumb>-->
  <button class="btn btn-primary pull-right bread-crumb-button" (click)="showAddSubCancerType()">Add {{cancerTree.getNextItemName()}}</button>
</ul>

<div class="pad20"></div>
<div class="container-fluid" *ngIf="!isLoading">
  <div class="animated fadeIn">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <div class="pull-left">
              <h2 *ngIf="cancerTree.getCurrentLevel() !== 'CANCERYPE'">Sub Cancers</h2>
              <h2 *ngIf="cancerTree.getCurrentLevel() === 'CANCERYPE'">Cancers</h2>
            </div>
            <div class="pull-right">
              <button *ngIf="cancerTree.getCurrentLevel() !== 'CANCERYPE'"
                      class="btn btn-primary m-10" (click)="showLinkRegimen(true)">Add Existing Regimen
              </button>
              <button *ngIf="cancerTree.getCurrentLevel() !== 'CANCERYPE'"
                      class="btn btn-primary m-10" (click)="actionOnRegimen({action: 'edit', regimen: {}})">Add New Regimen
            </button>
              <button class="btn btn-primary m-10" (click)="showAddCancerType()">Add {{cancerTree.getCurrentLevel()}}</button>
            </div>
          </div>
          <div class="card-block">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Cancer Type</th>
                  <th>Regimen Types</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let cancerType of cancerTypes">
                  <td >                         <a  href="javascript:void(0)" (click)="getUrlFix(cancerType.id)">{{cancerType.title}}</a></td>
                  <td >
                    <span class="badge badge-primary regimen-type-badge"
                          *ngFor="let type of cancerType?.regimenLevelsInCancer"
                          [routerLink]="'/regimenDetails/' + cancerType?.id +'/'+ type">
                      {{type}}
                    </span>
                  </td>
                  <td>
                    <mat-menu #appMenu="matMenu">
                      <button mat-menu-item (click)="edit(cancerType)">Edit</button>
                      <button mat-menu-item (click)="delete(cancerType)">Delete</button>
                    </mat-menu>

                    <a mat-icon-button [matMenuTriggerFor]="appMenu">
                      <mat-icon>more_vert</mat-icon>
                    </a>
                  </td>
                </tr>
                <tr *ngIf="cancerTypes.length === 0">
                  <span style="text-align: center"> No CancerTypes Found </span>
                </tr>

                </tbody>
              </table>

            </div>
          </div>
        </div>
        <div class="card" *ngIf="regimenDetails?.length > 0">
          <app-regimendetails
            #regimenDetailComponent
            (regimenActionCompleted) = "refreshData()"
            (actionOnRegimen)="actionOnRegimen($event)"
            [RegimenDetails]="regimenDetails"></app-regimendetails>
        </div>
      </div>
    </div>
  </div>
</div>

<app-addsubcancertypes *ngIf="isAddSubCancerTypeModal" (onHide)="onHide('add')"
                       [addingNextLevel]="addingNextLevel"
                       [currentLevelCancers]="cancerTypes"
                       [config]="{ show: true }" bsModal
                       #addModal="bs-modal" (yes)="addCancerTypes($event)" (cancel)="onClose('add')" class="modal fade"
                       [Error]="addCancerTypeError">
</app-addsubcancertypes>


<app-editcancertypes *ngIf="isEditModal" (onHide)="onHide('edit')" [config]="{ show: true }" bsModal
                 #editModal="bs-modal" (yes)="editCancerTypes($event)" (cancel)="onClose('edit')" class="modal fade" [CancerType]="CancerType"></app-editcancertypes>

<app-deletecancertypes *ngIf="isDeleteModal" (onHide)="onHide('delete')" [config]="{ show: true }" bsModal
                   #deleteModal="bs-modal" (yes)="deleteCancerTypes($event)" (cancel)="onClose('delete')" class="modal fade" [CancerType]="CancerType"></app-deletecancertypes>

<app-addregimen *ngIf="displayAddRegimen" (onHide)="onHide('add')" [config]="{ show: true }" bsModal
                [cancers]="cancerTypes"
                [preSelectedCancer]="currentCancerId"
                #addModal="bs-modal" (yes)="addRegimenDetail($event)" (cancel)="onClose('regimen')" class="modal fade"
></app-addregimen>

<app-editregimen *ngIf="isEditRegimenModal"
                 (onHide)="onHide('editRegimen')"
                 [config]="{ show: true }" bsModal
                 #editRegimenModal="bs-modal"
                 (yes)="regimenDetailComponent.editRegimenDetail($event, currentCancerId)"
                 (cancel)="onClose('editRegimen')"
                 class="modal fade"
                 [regimenDetail]="RegimenDetail"></app-editregimen>

<app-deleteregimen *ngIf="isDeleteRegimenModal" (onHide)="onHide('deleteRegimen')" [config]="{ show: true }" bsModal
                   #deleteRegimenModal="bs-modal" (yes)="removeRegimenFromCancer(RegimenDetail)" (cancel)="onClose('deleteRegimen')"
                   class="modal fade" [regimen]="RegimenDetail"></app-deleteregimen>
<link-caner-regimen-modal *ngIf="showLinkRegimenModal"
                          (closeModal)="showLinkRegimen(false)"
                          [config]="{ show: true }"
                          bsModal
                          (cancel)="showLinkRegimen(false)"
                          (onHide)="showLinkRegimen(false)"
                          [currentCancerId]="currentCancerId"
                          class="modal fade"></link-caner-regimen-modal>
<!--@TODO need to put progress bar here-->
<!--<p-progressBar mode="indeterminate" *ngIf="isLoading"></p-progressBar>-->
<mat-progress-spinner *ngIf="isLoading"
                      class="spinner"
                      [color]="'accent'"
                      [mode]="'indeterminate'">
</mat-progress-spinner>


