ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: lightgoldenrodyellow;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

ul.breadcrumb[_ngcontent-yqc-c0] {
  padding: 10px 16px;
  list-style: none;
  background-color: lightgoldenrodyellow;
}

.bread-crumb-container {
  width: 90%;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: white;
  border-bottom: 1px solid #c2cfd6;
}

.bread-crumb-button {
  height: 40px;
}

.b-c-container {
  display: flex;
  justify-content: space-between;
}

.button-right {
  align-self: end;
}
