<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3 *ngIf="regimenDetail?.id" class="modal-title pull-left">Edit {{regimenDetail.dispName}}</h3>
      <h3 *ngIf="!regimenDetail?.id" class="modal-title pull-left">Add New Regimen</h3>
      <button type="button" class="close pull-right" aria-label="Close" (click)="close($event)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" id="editRegimenModal">
      <form class="form" [formGroup]="regimenForm">
          <div class="regimen-detail-form">
            <div class="tow-per-column">
              <div >
                <mat-form-field>
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="dispName">
                </mat-form-field>
              </div>

              <div >
                <mat-form-field>
                  <mat-label>Emetogenic Potential</mat-label>
                  <input matInput formControlName="emetogenicPotential">
                </mat-form-field>
              </div>
            </div>
            <div>

              <div>
                <h3 class="side-label">Regimen Levels</h3>
                <mat-chip-list>
                  <mat-chip *ngFor="let regimenLevel of regimenForm?.controls?.regimenLevels?.controls; let idx=index"
                            [removable]="true"
                            (removed)="removeRegimenLevelFromRegimen(idx)">
                    {{regimenLevel?.value?.level}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </div>
              <div class="regimen-level-form">
                <div>
                  <select placeholder="Regimen Level"
                          (change)="addNewLevel($event.target.value)">
                    <option>Select Level</option>
                    <option [value]="idx" *ngFor="let level of regimenLevelTypes; let idx=index">
                      {{level?.level}}
                    </option>
                  </select>
                </div>
                <div>
                  <mat-form-field>
                    <mat-label>New Regimen Level</mat-label>
                    <input matInput [formControl]="newLevelType">
                  </mat-form-field>
                  <button [disabled]="!newLevelType.valid" (click)="addNewLevel()">Add Level</button>
                </div>
              </div>
            </div>

            <div >
              <h3 class="side-label">Drugs In Regimen </h3>
             <div>
              <select class="drug-drop-down"
                      placeholder="Select Drug"
                      (change)="addDrugToRegimen($event.target.value)">
                <option>Select Drug</option>
                <option [value]="idx"
                        style="width: 250px;"
                        *ngFor="let drug of drugList; let idx=index" >
                  {{drug.genericName}}
                </option>
              </select>
             </div>
              <div style="margin: 5px;">
                <mat-chip-list>
                  <mat-chip *ngFor="let drug of regimenForm?.controls?.brands?.controls; let idx=index"
                            [removable]="true"
                            (removed)="removeDrugFromRegimen(idx)">
                    {{drug?.value?.genericName}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>

            <div  class="regimen-detail-form-item regimen-detail-header-schedule">
              <div><h3  class="side-label">Schedule</h3></div>
              <div class="editor">
                <ckeditor name="schedule-editor"
                          type="text"
                          [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ] }"
                          [editor]="editor"
                          formControlName="schedule"></ckeditor>
              </div>
            </div>
        <div class="regimen-detail-form-item"
             [innerHTML]="">
          <div><h3 class="side-label"> Dosage Modifications </h3></div>
          <div  class="editor">
            <ckeditor name="dosage-modification-editor"
                      [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ] }"
                      [editor]="editor"
                      formControlName="dosageModifications"
            ></ckeditor>
          </div>
        </div>
            <div class="regimen-detail-form-item" >
              <div class="heading-with-button"><h3 class="side-label"> Reference </h3>
              </div>
              <div formArrayName="references"
                   *ngFor="let regimenReference of regimenForm?.controls?.references?.controls; let idx=index">
                <ng-container [formGroup]="regimenReference">
                  <div class="reference-input-container-top">
                    <div class="reference-input-container">
                      <mat-form-field class="reference-input">
                        <input matInput formControlName="referenceValue">
                      </mat-form-field>
                    </div>
                    <div class="regimen-detail-form-3-col-delete">
                      <button (click)="removeReference(idx)">X</button>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div><button (click)="addNewReference()">Add New Reference</button></div>
            </div>
          </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" (click)="close($event)">Cancel</button>
      <button class="btn btn-primary" [disabled]="!regimenForm.valid" (click)="okay()">Ok</button>
    </div>
  </div>
</div>
