<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Edit Regimen Details</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="close($event)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form" [formGroup]="regimenForm">
          <div class="regimen-detail-form">
            <div class="tow-per-column">
              <div >
                <mat-form-field>
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="dispName">
                </mat-form-field>
              </div>

              <div >
                <mat-form-field>
                  <mat-label>Emetogenic Potential</mat-label>
                  <input matInput formControlName="emetogenicPotential">
                </mat-form-field>
              </div>
            </div>
            <div>
              <div>
                <h3>Regimen Levels</h3>
                <mat-chip-list>
                  <mat-chip *ngFor="let regimenLevel of regimenForm?.controls?.regimenLevels?.controls; let idx=index"
                            [removable]="true"
                            (removed)="removeRegimenLevelFromRegimen(idx)">
                    {{regimenLevel?.value?.level}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </div>

              <div class="regimen-level-form">
                <div>
                  <select placeholder="Regimen Level"
                          (change)="addNewLevel($event.target.value)">
                    <option>Select Level</option>
                    <option [value]="level.id" *ngFor="let level of regimenLevelTypes">
                      {{level?.level}}
                    </option>
                  </select>
                </div>

                <div>
                  <mat-form-field>
                    <mat-label>New Regimen Level</mat-label>
                    <input matInput [formControl]="newLevelType">
                  </mat-form-field>
                  <button [disabled]="!newLevelType.valid" (click)="addNewLevel()">Add Level</button>
                </div>
              </div>
            </div>
            <div  class="regimen-detail-form-item regimen-detail-header-schedule">
              <div><h3  class="side-label">Schedule</h3></div>
              <div class="editor">
                <ckeditor name="schedule-editor"
                          [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ] }"
                          [editor]="editor"
                          formControlName="schedule"></ckeditor>
              </div>
            </div>

            <div class="regimen-detail-form-item"
                 [innerHTML]="">
              <div><h3 class="side-label"> Dosage Modifications </h3></div>
              <div  class="editor">
                <ckeditor name="dosage-modification-editor"
                          [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ] }"
                          [editor]="editor"
                          formControlName="dosageModifications"></ckeditor>
              </div>
            </div>
            <div class="regimen-detail-form-item" >
              <div class="heading-with-button"><h3 class="side-label"> Reference </h3>
              </div>
              <div formArrayName="references"
                   *ngFor="let regimenReference of regimenForm?.controls?.references?.controls; let idx=index">
                <ng-container [formGroup]="regimenReference">
                  <div class="reference-input-container-top">
                    <div class="reference-input-container">
                      <mat-form-field class="reference-input">
                        <input matInput formControlName="referenceValue">
                      </mat-form-field>
                    </div>
                    <div class="regimen-detail-form-3-col-delete">
                      <button (click)="removeReference(idx)">X</button>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div><button (click)="addNewReference()">Add New Reference</button></div>
            </div>


            <div class="regimen-detail-form-item"
                 [innerHTML]="">
              <div class="heading-with-button"><h3 class="side-label"> Regimen Brands </h3>
              </div>
              <div class="brand-container"
                   formArrayName="references"
                   *ngFor="let brand of regimenForm?.controls?.brands?.controls; let idx=index">
                <ng-container [formGroup]="brand">
                <div class="brand-input regimen-detail-form-3-col">
                  <mat-form-field class="reference-input">
                    <mat-label>Generic Name</mat-label>
                    <input matInput formControlName="genericName">
                  </mat-form-field>
                </div>
                <div class="brand-input regimen-detail-form-3-col">
                  <mat-form-field class="reference-input">
                    <mat-label>Brand Name</mat-label>
                    <input matInput formControlName="brandName">
                  </mat-form-field>
                </div>
                <div class="brand-input regimen-detail-form-3-col">
                  <mat-form-field class="reference-input">
                    <mat-label>Manufacturer</mat-label>
                    <input matInput formControlName="manufacturer">
                  </mat-form-field>
                </div>
                <div class="regimen-detail-form-3-col-delete" >
                  <button (click)="removeBrand(idx)" >X</button>
                </div>
                </ng-container>
              </div>
              <div><button (click)="addNewBrand()">Add New Brand</button></div>
            </div>
          </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" (click)="close($event)">Cancel</button>
      <button class="btn btn-primary" (click)="okay()">Ok</button>
    </div>
  </div>
</div>
