<ul class="breadcrumb" *ngIf="!isOnCancerRegimens">
  <!--  @TODO need to put bread crumbs here-->
  <!--<p-breadcrumb [model]="crumbs"></p-breadcrumb>-->
</ul>
<div class="container-fluid" *ngIf="!isLoading">
  <div class="animated fadeIn">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
        <div class="card">
          <div class="card-header" *ngIf="!isOnCancerRegimens">
            <button  class="btn btn-primary pull-right" (click)="showAddRegimenDetails()">Add Regimen Detail</button>
            <mat-paginator [length]="RegimenDetails.length"
                           [pageSize]="10"

                           [pageSizeOptions]="[5, 10, 15, 20, 30]"
                           (page)="changeRegimenList($event)">
            </mat-paginator>
          </div>

            <div *ngFor="let regimenDetail of regimenToDisplay" class="regimen-detail-panel">
              <mat-expansion-panel>
                <mat-expansion-panel-header class="regimen-detail-panel-header">
                  <div> {{regimenDetail.dispName}}</div>
                </mat-expansion-panel-header>
                  <ng-template matExpansionPanelContent>
                    <div class="regimen-detail-form">
                      <div class="regimen-detail-form-3-col">
                        <mat-label>Name</mat-label>
                        <div>{{regimenDetail?.dispName}}</div>
                      </div>

                      <div class="regimen-detail-form-3-col">
                        <mat-label>Emetogenic Potential</mat-label>
                        <div>{{regimenDetail?.emetogenicPotential}}</div>
                      </div>

                      <div class="regimen-detail-form-3-col">
                          <mat-label>Regimen Level</mat-label>
                          <mat-chip-list>
                            <mat-chip *ngFor="let regimenLevel of regimenDetail?.regimenLevels">
                              {{regimenLevel?.level}}
                            </mat-chip>
                          </mat-chip-list>
                      </div>


                      <div  class="regimen-detail-form-item regimen-detail-header-schedule">
                        <div><h3  class="side-label">Schedule</h3></div>
                        <div [innerHTML]="regimenDetail.schedule"></div>
                      </div>

                      <div class="regimen-detail-form-item"
                           [innerHTML]="">
                        <div><h3 class="side-label"> Dosage Modifications </h3></div>
                        <div [innerHTML]="regimenDetail.dosageModifications"></div>
                      </div>


                      <div class="regimen-detail-form-item"
                           [innerHTML]="">
                        <div class="heading-with-button">
                          <h3 class="side-label"> Reference </h3>
                        </div>
                        <div  *ngFor="let regimenReference of regimenDetail?.references; let idx=index">
                          <ul>
                            <li>{{regimenDetail?.references[idx]?.reference}}</li>
                          </ul>
                        </div>
                      </div>
                      <div class="regimen-detail-form-item"
                           [innerHTML]="">
                        <div class="heading-with-button">
                          <h3 class="side-label"> Regimen Brands </h3>
                        </div>
                        <mat-table [dataSource]="regimenDetail?.brands" class="mat-elevation-z8">
                          <!-- Position Column -->
                          <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                            <mat-cell *matCellDef="let brand"> {{brand.id}} </mat-cell>
                          </ng-container>

                          <!-- Name Column -->
                          <ng-container matColumnDef="genericName">
                            <mat-header-cell *matHeaderCellDef> Generic Name </mat-header-cell>
                            <mat-cell *matCellDef="let brand"> {{brand.genericName}} </mat-cell>
                          </ng-container>

                          <!-- Weight Column -->
                          <ng-container matColumnDef="brandName">
                            <mat-header-cell *matHeaderCellDef> Brand Name </mat-header-cell>
                            <mat-cell *matCellDef="let brand"> {{brand.brandName}} </mat-cell>
                          </ng-container>

                          <!-- Symbol Column -->
                          <ng-container matColumnDef="manufacturer">
                            <mat-header-cell *matHeaderCellDef> Manufacturer </mat-header-cell>
                            <mat-cell *matCellDef="let brand"> {{brand.manufacturer}} </mat-cell>
                          </ng-container>

                          <mat-header-row *matHeaderRowDef="['id', 'genericName', 'brandName', 'manufacturer']"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: ['id', 'genericName', 'brandName', 'manufacturer'];"></mat-row>
                        </mat-table>
                      </div>
                      <button (click)="edit(regimenDetail)">Edit</button>
                    </div>
                  </ng-template>
              </mat-expansion-panel>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>


<app-addregimen *ngIf="isAddRegimenDetailsModal" (onHide)="onHide('add')" [config]="{ show: true }" bsModal
                 #addModal="bs-modal" (yes)="addRegimenDetail($event)" (cancel)="onClose('add')" class="modal fade"
                ></app-addregimen>

<app-editregimen *ngIf="isEditModal"
                 (onHide)="onHide('edit')"
                 [config]="{ show: true }"
                 bsModal
                 #editModal="bs-modal"
                 (yes)="editRegimenDetail($event)"
                 (cancel)="onClose('edit')"
                 class="modal fade"
                 [regimenDetail]="RegimenDetail"></app-editregimen>

<app-deleteregimen class="modal fade"
                   *ngIf="isDeleteModal"
                   (onHide)="onHide('delete')" [config]="{ show: true }" bsModal
                   #deleteModal="bs-modal"
                   (yes)="deleteRegimenDetail($event)"
                   (cancel)="onClose('delete')"
                   [regimen]="RegimenDetail"></app-deleteregimen>

<p-progressBar mode="indeterminate" *ngIf="isLoading"></p-progressBar>
