.app-root {
  display: flex;
  flex-direction: row !important;
}

.left-panel {
  align-self: flex-start;
  width: 20%;
}

.right-panel {
  width: 80%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li.pull-right {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}


.logo {
  height: 60px;
}

.right {
  float: right;
}

