<div class="size-60-p modal-screen-center">
  <div class="content" *ngIf="!isLoading">
    <div class="header">
      <h4 class="modal-title pull-left">Add Regimen To Cancer</h4>
      <button type="button" style="padding: 10px;" class="close pull-right" aria-label="Close" (click)="close()">x</button>
    </div>
    <div class="body">
      <div class="regimen-list-container">
        <div class="regimen-list-heading">
          <h3> Regimen List </h3>
        </div>
        <div class="regimen-search">
          <mat-form-field class="example-form-field">
            <mat-label>Search Regimen List</mat-label>
            <input matInput type="text" [formControl]="filterRegimenList">
            <button mat-button *ngIf="filterRegimenList.value" matSuffix mat-icon-button aria-label="Clear" (click)="filterRegimenList.setValue('')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="regimen-list">
          <mat-list role="list">
            <mat-list-item *ngFor="let regimenDetail of regimenListToDisplay; let idx=index" (click)="linkRegimenToCancer(regimenDetail, idx)">
              {{regimenDetail.dispName}}
            </mat-list-item>
          </mat-list>
        </div>
      </div>
      <div class="regimen-list-container">
        <div class="regimen-list-heading">
          <h3>Regimen In Cancer ({{existingRegimenInCancerToDisplay?.length}})</h3>
        </div>
        <div class="regimen-search">
          <mat-form-field class="example-form-field">
            <mat-label>Search Existing Regimen List</mat-label>
            <input matInput type="text" [formControl]="filterExistingCancerInRegimenList">
            <button mat-button *ngIf="filterRegimenList.value" matSuffix mat-icon-button aria-label="Clear" (click)="filterRegimenList.setValue('')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="regimen-list">
          <mat-list role="list">
            <mat-list-item
              *ngFor="let existingRegimenDetail of existingRegimenInCancerToDisplay; let idx=index"
              (click)="unLinkRegimenToCancer(existingRegimenDetail, idx)">{{existingRegimenDetail?.dispName}}</mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>

    <div class="footer">
      <button class="btn btn-primary" (click)="close()">Ok</button>
    </div>
  </div>

  <mat-progress-spinner *ngIf="isLoading"
                        [color]="'accent'"
                        [mode]="'indeterminate'"
                        class="spinner">
  </mat-progress-spinner>
</div>
