.size-60-p {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.level-type-component {
  z-index: 2;
}

.body {
  display: flex;
  width: 100% !important;
}

.card {
  width: 50% !important;
  overflow: hidden;
}

.regimen-list {
  overflow-y: scroll;
  display: flex;
}

.existing-regimen-list {
  overflow-y: scroll;
  display: flex;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

.spinner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto; /* presto! */
}

.content {
  height: 600px;
  width: 80%;
  background: white;
  display: flex;
  flex-direction: column;
}

.regimen-search {
  border: dot-dash 1px;
}
.body {
  flex-grow: 2;
  height: 400px;
}

.footer {
  flex-grow: 1;
}

.header {
  display: flex;
  background: #0b5dab;
  justify-content: space-between;
  color: white;
  text-align: center;
  align-items: baseline;
  padding-left: 15px;
  padding-right: 15px;
}

.modal-title {

}
.overflow-scroll {
  overflow: scroll;
}
.regimen-list {
  height: 400px;
  overflow: scroll;
}

.regimen-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 1px darkorange;
}

.regimen-list-heading {
  text-align: center  ;
}

.modal-screen-center {

}
