<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add SubCancer Type</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form">
        <div class="form-group">
          <label class="form-control-label">Sub CancerType Title</label>
          <ck-editor name="editor1" type="text" class="form-control" [(ngModel)]="subCancerAddData.title" skin="moono-lisa" language="en"></ck-editor>
        </div>
      </form>

      <div class="form-group" *ngIf="addingNextLevel">
        <label class="form-control-label">Select Cancer Type</label>
        <select class="form-control" (change)="onParentSelected($event?.target?.value)" required>
          <option>Select Cancer Type</option>
          <option *ngFor="let  cancer of currentLevelCancers" [value]="cancer?.id">{{cancer?.title}}</option>
        </select>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary"
              [disabled]="!subCancerAddData.title" (click)="okay()">Ok</button>
    </div>
  </div>
</div>
